<config>
	<composite name="supplement">
		<leaf name="SupplementDriver">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.supplementer.SupplementDriver</class>
			<configuration>
				<hdfs.input.path.1>/user/idox/tangkun/supplement/input/data1</hdfs.input.path.1>
				
				<hdfs.input.path.2>/user/idox/tangkun/supplement/input/data2</hdfs.input.path.2>
				
				<Appconf.data.input.format.type2>h</Appconf.data.input.format.type2>
				
				<hdfs.work.path>/user/idox/tangkun/supplement/work</hdfs.work.path>
				
				<hdfs.output.path.1>/user/idox/tangkun/supplement/output</hdfs.output.path.1>
				
				<hdfs.input.fillter.db.path>/user/idox/tangkun/supplement/cash/*</hdfs.input.fillter.db.path>
				
				
				<hadoop.reduce.num>2</hadoop.reduce.num>
				
				<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
				
				<hadoop.io.k_v_separator>|</hadoop.io.k_v_separator>
				
				
				<Appconf.result.recommend.in.ifhaveSuffix>no</Appconf.result.recommend.in.ifhaveSuffix>
				
				<Appconf.result.recommend.out.ifhaveSuffix>no</Appconf.result.recommend.out.ifhaveSuffix>
				
				<Appconf.result.recommend.inputresultformatType>s</Appconf.result.recommend.inputresultformatType>
				
				<Appconf.result.recommend.outputdataformatType>h</Appconf.result.recommend.outputdataformatType>
				
				
				<Appconf.result.recommend.minnum>4</Appconf.result.recommend.minnum>
				
			
			
			</configuration>
		</leaf>
	</composite>
</config>

