<config>
	<composite name="usertagweight">
		<leaf name="usertagweight-UserLabelComputeDriver">
			<class>com.eb.bi.rs.frame.recframe.knowledgecal.usertagweight.UserLabelComputeDriver</class>
			<configuration>
				<!--输入数据:用户历史行为-->
				<hdfs.input.path.1>/user/recsys/personaltailor/usertagmark/input/user*</hdfs.input.path.1>
				<!--工作目录-->
				<hdfs.work.path>/user/recsys/personaltailor/usertagmark/work</hdfs.work.path>
				<!--图书标签信息-->
				<hdfs.cache.path>/user/recsys/personaltailor/usertagmark/cache/booktagdata</hdfs.cache.path>
				<!--输出目录-->
				<hdfs.output.path.1>/user/recsys/personaltailor/usertagmark/tagmark</hdfs.output.path.1>
				<hadoop.reduce.num>100</hadoop.reduce.num>
				<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
				<hadoop.io.k_v_separator>|</hadoop.io.k_v_separator>
			
			</configuration>
		</leaf>
		<!--取用户标签偏好top10-->
		<leaf name="usertagweight-UnorderedTopNSelectorDriver">
				<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.UnorderedTopNSelectorDriver</class>
				<configuration>
					
					<field.delimiter>|</field.delimiter>
					
					<key.field.indexes>0</key.field.indexes>
					
					<order.by.field.index>2</order.by.field.index>
					
					<select.number>10</select.number>		
				
					
					<input.path>/user/recsys/personaltailor/usertagmark/tagmark/part*</input.path>
					
					<output.path>/user/recsys/personaltailor/usertagmark/output</output.path>					
				
				
					<mapred.reduce.tasks>100</mapred.reduce.tasks>					
				</configuration>
			</leaf>
		
	</composite>
</config>

