<?xml version="1.0" encoding="UTF-8"?>
<config>
        <param name="worker_num">5</param>
        <param name="spout_num">5</param>
        <param name="bolt_num">100</param>
        <param name="max_spout_pending">1000</param>


        <param name="resp_redis">192.168.20.103::6381</param>
        <param name="hbase.zookeeper.quorum">ZJHZ-RTS-NN1,ZJHZ-RTS-NN2,ZJHZ-RTS-DN1,ZJHZ-RTS-DN2,ZJHZ-RTS-DN3</param>
        <param name="hbase.zookeeper.property.clientPort">2181</param>


        <param name="response_table">unified_resp</param>
        <param name="rec_upper_limit">100</param>
        <param name="rec_lower_limit">80</param>
        <param name="rec_inter_limit">10</param>

        <param name="resp_expire_time">60</param>


        <input_data name="request-spout" type="Redis" link="192.168.20.103::6380::unified_req" loadCommand="rpop" meta="userdata"/>
        <record name="userdata" parseType="Url" fieldDelimiter="|" recordDelimiter="\n">
                                 <field name="userid" nullable="true" size="6" type="string"/>
                                 <field name="edition_id" nullable="true" size="6" type="string"/>
        </record>
</config>
[idox@ZJHZ-RTS-RED