<?xml version="1.0" encoding="UTF-8"?>
<config>

        <param name="worker_num">5</param>
        <param name="spout_num">1</param>
        <param name="bolt_num">1</param>
        <param name="max_spout_pending">1000</param>

        <param name="resp_redis">10.1.70.4::6379</param>
        <param name="response_table">opus_resp</param>
        <param name="resp_expire_time">60</param>

        <param name="hbase.zookeeper.quorum">eb170</param>
        <param name="hbase.zookeeper.property.clientPort">2182</param>

		<param name="predict_score_per">1</param>
		<param name="tag_score_per">1</param>
		<param name="edit_score_per">1</param>

        <param name="topN">100</param>
        <param name="read_opus_info_interval">86400000</param>

        <param name="opus_opus_info">opus_opus_info</param>
        <param name="opus_user_predict_score">opus_user_predict_score</param>
        <param name="opus_user_tag_score">opus_user_tag_score</param>
        <param name="opus_user_history">opus_user_history</param>
        <param name="opus_edit_score">opus_edit_score</param>
        <param name="opus_filler">opus_filler</param>

        <input_data name="request-spout" type="Redis" link="10.1.70.4::6379::opus_req" loadCommand="rpop" meta="userdata"/>
        <record name="userdata" parseType="Url" fieldDelimiter="|" recordDelimiter="\n">
             <field name="userid" nullable="true" size="6" type="string"/>
             <field name="type" nullable="true" size="6" type="string"/>
        </record>

</config>