<config>
        
        <composite name="pref_points_search">
                <leaf name="pref_points_search">
                        <class>com.eb.bi.rs.mras2.unifyrec.PrefPointsSearch.PrefPointsSearchDriver</class>
                        
                        <configuration>
                                <conf.input.path>/user/ebupt/jobsonghm/recsys_data/input/user_pref_all,/user/ebupt/jobsonghm/recsys_data/input/user_bookid_all,/user/ebupt/jobsonghm/recsys_data/input/user_read_history</conf.input.path>
                                <conf.bookinfo.input.path>/user/ebupt/jobsonghm/recsys_data/input/recom_bookinfo/*</conf.bookinfo.input.path>
                                <conf.classifier.input.path>/user/ebupt/jobsonghm/recsys_data/input/classifier/*</conf.classifier.input.path>
                                <conf.output.path>/user/ebupt/jobsonghm/output</conf.output.path>
                                <conf.userPref.output.path>/user/ebupt/jobsonghm/output/user_pref_all/part</conf.userPref.output.path>
                                <conf.userBookid.output.path>/user/ebupt/jobsonghm/output/user_bookid_all/part</conf.userBookid.output.path>
                                <conf.userReadHistory.output.path>/user/ebupt/jobsonghm/output/user_read_history/part</conf.userReadHistory.output.path>
                                <conf.recomBookinfo.output.path>/user/ebupt/jobsonghm/output/recom_bookinfo/part</conf.recomBookinfo.output.path>
                                <conf.classifier.output.path>/user/ebupt/jobsonghm/output/classifier/part</conf.classifier.output.path>
                                <conf.search.data>13007237914|</conf.search.data>                 
                                <conf.num.reduce.tasks>2</conf.num.reduce.tasks>
                       </configuration>
                </leaf>
        </composite>
</config>