<leaf name="">
		<class></class>
		<configuration>
			<!--字段分隔符，默认值是"\|",注意：如果配置竖线，需要些\|-->
			<field.delimiter>com.eb.bi.rs.frame.recframe.resultcal.offline.sorter.SortDriver</field.delimiter>
			<!--键值字段索引号，默认值是"0"，可以配置多列，配置方式如"0,1"，列之间用逗号","分隔-->
			<key.field.indexes></key.field.indexes>
			<!--排序模式，默认值是空，该配置项是必需的!-->
			<!--排序模式形如X1:Y1:Z1，X2:Y2:Z2,其中X表示字段索引，Y表示排序方向（0代表升序，1代表降序），Z（0表示按照数值大小排序，1表示按照字典序排序-->
			<!--形如"2:0:0,3:1:1",表示按第2列的数值大小升序排，按第3列的字典序降序排，-->
			<order.mode></order.mode>
			
		<!--输入输出-->
			<!--输入路径，可以配置多条路径，路径之间用逗号，分隔-->
			<input.path></input.path>
			<!--输出路径-->
			<output.path></output.path>
			
		<!--MR-->
			<!--默认值是1-->
			<mapred.reduce.tasks>10</mapred.reduce.tasks>	
			<!--输入格式，默认是TextInputFormat，如果想要配置SequenceFileInputFormat，填写org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat-->
			<mapreduce.inputformat.class></mapreduce.inputformat.class>
			<!--输出格式，默认是TextOutputFormat，如果想要配置SequenceFileOutputFormat，填写org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat-->
			<mapreduce.outputformat.class></mapreduce.outputformat.class>
			<!--输出时是否压缩，可选项是true，false-->
			<mapred.output.compress></mapred.output.compress>
			<!--如果压缩，压缩格式，如果要配置lzo，填写com.hadoop.compression.lzo.LzoCodec-->
			<mapred.output.compression.codec></mapred.output.compression.codec>
			<!--sequenceFile是记录压缩，还是块压缩，可选项是BLOCK,RECORD-->
			<mapred.output.compression.type></mapred.output.compression.type>					
		</configuration>
</leaf>