<leaf name="">
				<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.RandomSelectorDriver</class>
				<configuration>
					<!--字段分隔符，默认值是"\|"-->
					<field.delimiter></field.delimiter>
					<!--键值字段索引号，默认值是"0"，目前只支持按照一列排序，后续优化-->
					<key.field.index></key.field.index>
					<!--随机依据的字段的索引号，默认值是"0"，目前只支持按照一列排序，后续优化-->
					<random.base.field.index></random.base.field.index>
					<!--对于键值相同的一组记录，选取的记录数量，默认值是1-->
					<select.number></select.number>					
				<!--输入输出-->
					<!--输入路径，可以配置多条路径，路径之间用逗号，分隔-->
					<input.path></input.path>
					<!--输出路径-->
					<output.path></output.path>					
				<!--MR-->
					<!--默认值是1-->
					<mapred.reduce.tasks>10</mapred.reduce.tasks>
					<!--输入格式，默认是TextInputFormat，如果想要配置SequenceFileInputFormat，填写org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat-->
					<mapreduce.inputformat.class></mapreduce.inputformat.class>
					<!--输出格式，默认是TextOutputFormat，如果想要配置SequenceFileOutputFormat，填写org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat-->
					<mapreduce.outputformat.class></mapreduce.outputformat.class>
					<!--输出时是否压缩，可选项是true，false-->
					<mapred.output.compress></mapred.output.compress>
					<!--如果压缩，压缩格式，如果要配置lzo，填写com.hadoop.compression.lzo.LzoCodec-->
					<mapred.output.compression.codec></mapred.output.compression.codec>
					<!--sequenceFile是记录压缩，还是块压缩，可选项是BLOCK,RECORD-->
					<mapred.output.compression.type></mapred.output.compression.type>						
				</configuration>
</leaf>