<leaf name="">
				<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.OrderedTopNOrderByMultiFieldDriver</class>
				<configuration>
					<!--字段分隔符，默认值是"|"-->
					<field.delimiter></field.delimiter>
					<!--键值字段索引号，默认值是"0"，可以配置多列，配置方式如"0,1"，列之间用逗号","分隔-->
					<key.field.indexes></key.field.indexes>
					<!--对于键值相同的一组记录，选取的记录数目，默认值是1-->
					<top.number></top.number>
					<!--排序模式，默认值是空，该配置项是必需的，形如"2:asc,6:desc",表示按第2列升序排列，按第6列降序排列-->
					<order.mode></order.mode>
					
			 	<!--输出格式-->
			 		<!--是否输出竖表，默认值是true-->
					<is.vertical></is.vertical>
					<!--如果输出竖表，是否需要加序列号，默认值是true，如果输出时横表，则不需要使用配置项（即使配置为true也不会起作用） -->
					<with.sequence></with.sequence>
					<!--输出时保留的列索引号，默认值是空，可以配置多列，配置方式如"0,1"，列之间用逗号","分隔-->
					<!--不需要使用该配置项的情况：(1)如果输出竖表，且将每条记录的所有记录都输出，(2)如果输出是横表，且除键值列的所有列都需要累加到一起，-->	
					<!--如果输出竖表，则需要配置成所有需要保留的列的所有值，如果是横表，则只需要配置需要累加到键值列的后面的列索引号， -->							
					<reserve.field.indexes></reserve.field.indexes>
					
				<!--输入输出-->
					<!--输入路径，可以配置多条路径，路径之间用逗号，分隔-->
					<input.path></input.path>
					<!--输出路径-->
					<output.path></output.path>
					
				<!--MR-->
					<!--默认值是1-->
					<mapred.reduce.tasks>10</mapred.reduce.tasks>					
				</configuration>
</leaf>