<config>
	<!--map大小-->
	<param name="tagdict_max_split_size_job1">64</param>
	<!--reduce个数-->
	<param name="reduce_num_job1">100</param>
	<!--hadoop的key,val分割符-->
	<param name="k_v_separator">|</param>
	<!--计算工作目录-->
	<param name="work_hdfs_path">/user/recsys/markrelation/bookmark/userbookscore</param>
	<!--输入数据:图书章节信息-->
	<param name="intput_hdfs_path1">/user/recsys/markrelation/bookmark/input/bookchapter/0*</param>
	<!--输入数据:图书订购类型-->
	<param name="intput_hdfs_path2">/user/recsys/markrelation/bookmark/input/bookcharge/0*</param>
	<!--输入数据:用户阅读历史-->
	<param name="intput_hdfs_path3">/user/recsys/markrelation/bookmark/input/userreadhis/0*</param>
	<!--订购类型-->
	<param name="charge_type1">2</param>
	<param name="charge_type2">1</param>
	<param name="charge_type3">0</param>
</config>
