<?xml version="1.0" encoding="UTF-8"?>
  <config>
  <!-- input -->
  <param name="ratings_input_path">hdfs://eb170:8020/user/ebupt/liyang/spark/svd/data/ratings.dat</param>

  <!-- 隐含特征个数 -->
  <param name="rank">10,20,30,40,50</param>

  <!-- 迭代次数 -->
  <param name="numIterations">10,20,30</param>

  <!-- 正则因子 -->
  <param name="lambda">0.1,0.01,0.0001</param>

  <!-- output -->
  <param name="movie_recom_output_path">hdfs://eb170:8020/user/ebupt/liyang/spark/svd/result</param>

  </config>