<config>
	<!--Reducer个数-->
	<param name="num_reduce_tasks">12</param>
	<!--原始图书信息输入文件路径-->
	<param name="book_statistics_info">similarity/input/book_statistics_info</param>
	<!--原始用户评分信息输入文件路径-->
	<param name="user_book_score">similarity/input/user_book_score</param>
	<!--预处理过滤0数据的输出目录-->
	<param name="filter_book_dir">similarity/filter_book_statistics_info</param>
	<!--十分位数输出目录-->
	<param name="tenth_num_dir">similarity/statistics_tenth_num</param>
	<!--流行图书输出目录-->
	<param name="pop_book_dir">similarity/pop_book</param>
	<!--流行图书的权重信息输出目录-->
	<param name="pop_weight_dir">similarity/book_pop_weight</param>
	<!--相似度矩阵输出目录-->
	<param name="book_similarity_dir">similarity/book_similarity</param>
</config>
