<?xml version="1.0" encoding="UTF-8"?>
<config>
	<param name="user_pref_all">/home/recsys/data/recsys_data/input/user_pref_all</param>
	<param name="user_pref_vector_output_path">/home/recsys/data/recsys_data/output/user_vectors</param>
	<param name="user_pref_avg">/home/recsys/data/recsys_data/output/pref_average</param>
	<param name="sim_classes">/home/recsys/data/recsys_data/input/simclass</param>
    <param name="user_vectors_reduce_task_num">10</param>

</config>
