<config>
        <param name="worker_num">5</param>
        <param name="spout_num">10</param>
        <param name="bolt_num">20</param>
        <param name="acker_num">0</param>
        <param name="max_spout_pending">1000</param>

        <param name="hbase.zookeeper.quorum">ZJHZ-RTS-NN1,ZJHZ-RTS-NN2,ZJHZ-RTS-DN1,ZJHZ-RTS-DN2,ZJHZ-RTS-DN3</param>
        <param name="hbase.zookeeper.property.clientPort">2181</param>


        <param name="resp_redis">192.168.20.86::6382</param>
        <param name="response_table">tages_resp</param>
        <param name="resp_expire_time">60</param>

        <param name="topN">100</param>
        <param name="same_author_count">2</param>

        <param name="baseScorePer">0.2</param>
        <param name="editScorePer">0</param>
        <param name="prefScorePer">1</param>
        <param name="similarScorePer">1</param>
        <param name="editScore">0.2</param>

        <param name="orderFactor">0.1</param>

        <param name="engine_attribute_result">engine_attribute_result</param>
        <param name="realpub_user_behavior">realpub_user_behavior</param>
        <param name="user_read_history">user_read_history</param>
        <param name="unify_base_score">unify_base_score</param>
        <param name="unify_edit_score">unify_edit_score</param>
        <param name="unify_book_blacklist">unify_book_blacklist</param>
        <param name="unified_rec_rep">unified_rec_rep</param>

        <param name="realpub_recommend_buffer">realpub_recommend_buffer</param>
        <param name="tages_filler">tags_filler</param>
        <param name="gene_type_result">gene_type</param>

        <param name="user_behavior">order,read,pv</param>

        <param name="hour_base">4</param>
        <param name="hour_similar">4</param>

        <param name="isWrite">true</param>
        <param name="isGetTop">false</param>
        <param name="increaseScore">0.05</param>
        <param name="sampleNumber">100</param>
        <param name="weight">0.1</param>
        <param name="history_weight">0.3</param>
        <param name="recent_weight">0.8</param>
        <param name="realtime_weight">1.0</param>
        <param name="pv_score">2</param>
        <param name="read_score">4</param>
        <param name="order_score">5</param>
        <param name="pv_half_time">2</param>
        <param name="read_half_time">8</param>
        <param name="order_half_time">12</param>
        <param name="userRealTableName">realpub_user_behavior</param>
        <param name="userRecentTableName">newunifyrec_user_book_6months</param>
        <param name="userHisTableName">newunifyrec_user_read_history</param>
        <param name="correlationTableName">newunifyrec_correlation_similarity</param>
        <param name="contentTableName">newunifyrec_content_similarity</param>
        <param name="similarityScoreTable">newunifyrec_user_similarity_score</param>

        <param name="unifyRecomTable">realpub_recommend_buffer</param>
        <param name="geneTypeTable">gene_type</param>

        <param name="similarScoreTest">similar_score_test</param>
        <param name="base_score_test">base_score_test</param>
        <param name="pref_score_test">pref_score_test</param>
        <param name="unify_result_test">unify_result_test</param>
        <param name="hour">4</param>
        <param name="minute">00</param>
        <param name="timelag">86400000</param>

        <param name="user_class_weight_history">unify_user_class_weight_history</param>
        <param name="dim_dmn_taginfo">unify_geneid_classid</param>
        <param name="dim_class">unify_editionid_classid</param>
        <param name="dim_hotclass">unify_editionid_hot_classid</param>
        <param name="user_excitation_weight">unify_user_excitation_weight</param>
        <param name="user_classid_weight">unify_user_classid_weight</param>
        <param name="user_gene">unify_user_genec_req</param>
        <param name="user_page">unify_user_req</param>

        <input_data name="request-spout" type="Redis" link="192.168.20.103::6380::tages_req" loadCommand="rpop" meta="userdata"/>
        <record name="userdata" parseType="Url" fieldDelimiter="|" recordDelimiter="\n">
             <field name="userid" nullable="true" size="6" type="string"/>
             <field name="gene_id" nullable="true" size="6" type="string"/>
        </record>
</config>