<?xml version="1.0" encoding="UTF-8"?>
<config>
<param name="hbase.zookeeper.quorum">eb170,eb171,eb174</param>
<param name="hbase.zookeeper.property.clientPort">2181</param>
<param name="rec_num">3</param>
<param name="flag">1</param>
<param name="appName">test</param>
<param name="appMsgId">111</param>
<param name="log_interval">120</param>
<param name="redis_link">10.1.70.4::3033</param>

<param name="redis_out_link">10.1.70.4::8089</param>

<param name="redis_out_key_prefix">tangkun_test</param>

<param name="result_table">cx_test</param>
<input_data name="input" type="Redis" link="10.1.70.4::3030::110" loadCommand="rpop" meta="userdata1"/>
<record name="userdata1" parseType="Xml" fieldDelimiter="|" recordDelimiter="\n">
       <field name="user" nullable="true" size="6" type="string"/>
       <field name="word" nullable="true" size="6" type="string"/>
</record>
</config>

