<config>
        <composite name="tableexport">
                <leaf name="userdeletebooks">
                        <class>com.eb.bi.rs.hbase2hdfs.HbaseReadTool</class>
                        <configuration>
                                <conf.output.path>/user/idox/tableexport/realpub_user_delete_info</conf.output.path>
                                <conf.zk.host>ZJHZ-RTS-NN1,ZJHZ-RTS-NN2,ZJHZ-RTS-DN1,ZJHZ-RTS-DN2,ZJHZ-RTS-DN3</conf.zk.host>
                                <conf.zk.port>2181</conf.zk.port>
                                <conf.hbase.table>realpub_user_delete_info</conf.hbase.table>
                                <conf.num.reduce.tasks>0</conf.num.reduce.tasks>
                                <conf.export.split>_</conf.export.split>
                                <conf.export.express>rowkey_cf:time</conf.export.express>
                                <!--all or yestorday-->
                                <conf.export.time>yestorday</conf.export.time>
                        </configuration>
                </leaf>
        </composite>
</config>
