<?xml version="1.0" encoding="UTF-8"?>
<config>

	<param name="reduce_num">1</param>
		
	<!-- if punish hot item, true or false-->
	<param name="if_punish_hot_item">true</param>
	
	<!-- input -->
    <param name="user_item_score_output">productization/itemcf/similarity/user_item_score_output</param>
    
    <!-- caculate top like item -->
    <param name="top_useritemscore_num">20</param>
    <param name="if_select_useritemscore">true</param>
    <param name="select_user_item_score_path">productization/itemcf/predict/select_user_item_score</param>
    
    <!-- calculate top similar item -->
    <param name="min_similarity">0</param>
    <param name="top_similarity_num">20</param>
    <param name="item_similarity_path">productization/itemcf/similarity/item_similariry_output</param>
    <param name="select_item_similarity_path">productization/itemcf/predict/select_item_similarity</param>
    
    <!-- join useritemcore with itemimilarity matrix-->
    <param name="score_similarity_join_path">productization/itemcf/predict/score_similarity_join</param>
    
    <!-- predict user item score -->
    <!-- predict_method 1:no avg 2:use avg -->
    <param name="predict_method">1</param>
    <param name="predict_score_path">productization/itemcf/predict/predict_score</param>
    <param name="item_avg_output">productization/itemcf/similarity/item_avg_output</param>
    
    <!-- filter history -->
    <!-- if delete history, true or false-->
	<param name="if_delete_history">true</param>
    <param name="predict_score_filter_path">productization/itemcf/predict/predict_score_filter</param>
    
    <!-- caculate top predict item of user -->
    <param name="predict_result_path">productization/itemcf/predict/predict_result</param>
    
    
</config>