<?xml version="1.0" encoding="UTF-8"?>
<config>
	<param name="user_vectors">/home/recsys/data/recsys_data/output/user_vectors</param>
	<param name="user_read_classes">/home/recsys/data/recsys_data/output/user_read_classes</param>
	<param name="user_book_scores">/home/recsys/data/recsys_data/output/user_book_scores</param>
	<param name="classifier_output_d">/home/recsys/data/recsys_data/input/classifier_output_d</param>
	<param name="recom_bookinfo">/home/recsys/data/recsys_data/input/recom_bookinfo</param>
	<param name="book_pref_engine_reduce_task_num">600</param>
</config>