<?xml version="1.0" encoding="UTF-8"?>
<config>

    <param name="user_opus_score_output">recsys/itemcf/similarity/cartoon/user_cartoon_score_output</param>
    <param name="opus_similariry_output">recsys/itemcf/similarity/cartoon/cartoon_similariry_output</param>
    <param name="opus_module_output">recsys/itemcf/similarity/cartoon/cartoon_module_output</param>
    
</config>