
<config>

<!--前一个job的配置 -->
	<param name="indicatorcount">4</param> 
	<param name="globaldatadir">/user/hadoop/userapppref/globaldata</param> 
	<param name="globalstatiticsdir">/user/hadoop/userapppref/globalstatitics</param> 
	<param name="normalizeddatadir">/user/hadoop/userapppref/normalizeddata</param> 
	<param name="servicetypestatiticsdir">/user/hadoop/userapppref/servicetypestatitics</param> 
	<param name="indicatorentropy">/user/hadoop/userapppref/indicatorentropy</param> 
	<param name="finalresult">/user/hadoop/userapppref/finalresult</param> 

<!--后一个job的配置-->
	<param name="hdfs">hdfs://10.1.240:9000</param>
	<param name="inputDataPath">hdfs://10.1.1.240:9000/user/hadoop/ghb/EBitemCF/input/user_app_pref</param>
	<param name="itemidItemnumPath">hdfs://10.1.1.240:9000/user/hadoop/ghb/EBitemCF/itemidname</param>
	<param name="useridItemnumPrefPath">hdfs://10.1.1.240:9000/user/hadoop/ghb/EBitemCF/conv</param>
	<param name="mahoutCfOutputPath">hdfs://10.1.1.240:9000/user/hadoop/ghb/EBitemCF/output</param>
	<param name="mahoutAlgoTempPath">hdfs://10.1.1.240:9000/user/hadoop/ghb/EBitemCF/tmp/mahout</param>
	<param name="outputPath">hdfs://10.1.1.240:9000/user/hadoop/ghb/EBitemCF/reconv</param>
	
</config>