<config>
	<composite name="personaltailor">
		<leaf name="MatrixComputeDriver">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.correlationer.MatrixComputeDriver</class>
			<configuration>
				<hdfs.input.path.1>/user/idox/tangkun/personal/input/data1</hdfs.input.path.1>
				<hdfs.input.path.2>/user/idox/tangkun/personal/input/data2</hdfs.input.path.2>
				<hdfs.work.path>/user/idox/tangkun/personal/work</hdfs.work.path>
				<hdfs.output.path.1>/user/idox/tangkun/personal/output</hdfs.output.path.1>
				<hadoop.reduce.num>2</hadoop.reduce.num>
				<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
				<hadoop.io.k_v_separator>|</hadoop.io.k_v_separator>
				
				<Appconf.data.input.format.type1>s</Appconf.data.input.format.type1>
				<Appconf.data.input.format.type2>s</Appconf.data.input.format.type2>
				
				<Appconf.output.format.whoiskey>table.1</Appconf.output.format.whoiskey>
				<Appconf.output.format.ifhavescore>true</Appconf.output.format.ifhavescore>
			</configuration>
		</leaf>
	</composite>
</config>
