<config>
        <composite name="similar_category">
                <leaf name="similar_category">
                        <class>com.eb.bi.rs.mras2.unifyrec.similarcategory.SimilarCategoryDriver</class>
                        <configuration>
                                <conf.input.path>/user/ebupt/shm/input</conf.input.path>
                                <conf.output.path>/user/ebupt/shm/output</conf.output.path>
                       </configuration>
                </leaf>
        </composite>
</config>