<?xml version="1.0" encoding="UTF-8"?>
<config>

	<param name="worker_num">5</param>
	<param name="spout_num">3</param>
	<param name="bolt_num">100</param>
	<param name="max_spout_pending">10000</param>
	
	<param name="input_redis">10.1.1.113::6379</param>
	<param name="output_redis">10.1.1.113::6379</param>
	
	<param name="order_type">8</param>
	<param name="read_type">9</param>
    <param name="browse_type">10</param>
    
    <param name="hour">12</param>
    <param name="float_ratio">0.5</param>
    	
	<param name="hbase.zookeeper.quorum">10.1.69.170</param>
	<param name="hbase.zookeeper.property.clientPort">2182</param>
	
	<param name="user_read_history">user_read_history</param>
	<param name="unify_book_blacklist">unify_book_blacklist</param>
    <param name="unify_frame_books">unify_frame_books</param>
    <param name="association_order">association_order</param>
    <param name="association_read">association_read</param>
    <param name="association_browse">association_browse</param>
	
	<param name="result_expire_time">60</param>
	<param name="rec_num">10</param>	
	<param name="result_table">filter_resp</param>
	
	<input_data name="request-spout" type="Redis" link="10.1.1.113::6379::filter_req" loadCommand="rpop" meta="userdata"/>
	<record name="userdata" parseType="Url" fieldDelimiter="|" recordDelimiter="\n">
	       <field name="user" nullable="true" size="6" type="string"/>
	       <field name="word" nullable="true" size="6" type="string"/>
	       <field name="type" nullable="true" size="6" type="string"/>
	</record>
</config>
