<config>

    <!--storm kafka参数-->
    <param name="worker_num">1</param>
    <param name="spout_num">1</param>
    <param name="bolt_num">1</param>
    <param name="max_spout_pending">10000</param>
    <param name="zkCfg">ZJHZ-CMREAD-ZOOKEEPER1:6830,ZJHZ-CMREAD-ZOOKEEPER2:6830,ZJHZ-CMREAD-ZOOKEEPER3:6830</param>
    <param name="pageviewTopic">Portal.Pageview</param>
    <param name="orderTopic">report.cdr</param>
    <param name="zkRoot">/ebupt-userbehavior</param>


    <!--Hbase 参数-->
    <param name="HBaseZK"> ZJHZ-RTS-NN1,ZJHZ-RTS-NN2,ZJHZ-RTS-DN1,ZJHZ-RTS-DN2,ZJHZ-RTS-DN3</param>
    <param name="HBaseZKPort">2181</param>
    <param name="HBaseTableName">user_read_history</param>
    <param name="HBaseTableCF">cf</param>
    <param name="HBaseTableCFValue">lmj</param>

</config>