<?xml version="1.0" encoding="UTF-8"?>
<config>

	<param name="reduce_num">100</param>
    <param name="downloadWeight">0.467</param>
    <param name="collectWeight">0.353</param>
    <param name="onlineplayWeight">0.135</param>
    <param name="clickWeight">0.045</param>
    <param name="ranks">S,A,s,a</param>
    
	<param name="downloadInputPath">/user/eb/dump_data/recsys/dw_user_sdk_down_6cm/*</param>
    <param name="collectInputPath">/user/eb/dump_data/recsys/dw_user_sdk_collect_6cm/*</param>
    <param name="onlineplayInputPath">/user/eb/dump_data/recsys/dw_user_sdk_watch_6cm/*</param>
    <param name="clickInputPath">/user/eb/dump_data/recsys/dw_user_sdk_kick_6cm/*</param>
    
    <param name="opus_info_path">/user/eb/dump_data/recsys/dim_opus/*</param>
   
    <param name="user_score_output">/user/eb/recsys/itemcf/similarity/</param>
    <param name="user_animation_score_output">/user/eb/recsys/itemcf/similarity/animation/user_animation_score_output</param>
    <param name="user_cartoon_score_output">/user/eb/recsys/itemcf/similarity/cartoon/user_cartoon_score_output</param>

</config>
