<?xml version="1.0" encoding="UTF-8"?>
<config>

	<param name="worker_num">5</param>
	<param name="spout_num">2</param>
	<param name="bolt_num">2</param>
	<param name="acker_num">0</param>
	<param name="max_spout_pending">1000</param>
	
	<param name="resp_redis">192.168.20.103::6382</param>
	<param name="response_table">unified_version_resp</param>
	<param name="resp_expire_time">60</param>
	
	<param name="hbase.zookeeper.quorum">ZJHZ-RTS-NN1,ZJHZ-RTS-NN2,ZJHZ-RTS-DN1,ZJHZ-RTS-DN2,ZJHZ-RTS-DN3</param>
	<param name="hbase.zookeeper.property.clientPort">2181</param>
	
	<param name="topN">100</param>
	
	<param name="baseScorePer">0.2</param>
	<param name="editScorePer">1</param>
	<param name="prefScorePer">1</param>
	<param name="similarScorePer">1</param>
	
	<param name="editScore">0.2</param>
	<param name="editScoreMale">0.2</param>
	<param name="editScoreFemale">0.2</param>
	<param name="editScorePub">0.2</param>
	
	<param name="orderFactor">0.1</param>
	
	<param name="specialUserId1">13958080393</param>
	<param name="specialUserId2">18658279889</param>
	
	<param name="engine_attribute_result">engine_attribute_result</param>
    <param name="realpub_user_behavior">realpub_user_behavior</param>
    <param name="user_read_history">user_read_history</param>
    <param name="unify_base_score">unify_base_score</param>
    <param name="unify_edit_score">unify_edit_score</param>
    <param name="unify_book_filler">unify_book_filler</param>
    <param name="unify_book_blacklist">unify_book_blacklist</param>
    <param name="unified_rec_rep">unified_rec_rep</param>
	
	<param name="unify_male_pref">unify_male_pref</param>
	<param name="unify_female_pref">unify_female_pref</param>
	<param name="unify_publish_pref">unify_publish_pref</param>
	<param name="unify_base_score_female">unify_base_score_female</param>
	<param name="unify_base_score_male">unify_base_score_male</param>
	<param name="unify_base_score_pub">unify_base_score_pub</param>
	<param name="unify_edit_score_female">unify_edit_score_female</param>
	<param name="unify_edit_score_male">unify_edit_score_male</param>
	<param name="unify_edit_score_pub">unify_edit_score_pub</param>
	<param name="unify_rec_version">unify_rec_version</param>
	
	<param name="user_behavior">order,read,pv</param>
	
	<param name="hour_base">4</param>
	<param name="hour_similar">4</param>
	
	<param name="isWrite">true</param>
	<param name="isGetTop">false</param>
	<param name="increaseScore">0.05</param>
	<param name="sampleNumber">100</param>
	<param name="weight">0.1</param>
	<param name="history_weight">0.3</param>
	<param name="recent_weight">0.8</param>
	<param name="realtime_weight">1.0</param>
	<param name="pv_score">2</param>
	<param name="read_score">4</param>
	<param name="order_score">5</param>
	<param name="pv_half_time">2</param>
	<param name="read_half_time">8</param>
	<param name="order_half_time">12</param>
	<param name="userRealTableName">realpub_user_behavior</param>
	<param name="userRecentTableName">newunifyrec_user_book_6months</param>
	<param name="userHisTableName">newunifyrec_user_read_history</param>
	<param name="correlationTableName">newunifyrec_correlation_similarity</param>
	<param name="contentTableName">newunifyrec_content_similarity</param>
	<param name="similarityScoreTable">newunifyrec_user_similarity_score</param>

	<input_data name="request-spout" type="Redis" link="192.168.20.103::6382::unified_version_req" loadCommand="rpop" meta="userdata"/>
	<record name="userdata" parseType="Url" fieldDelimiter="|" recordDelimiter="\n">
	     <field name="userid" nullable="true" size="6" type="string"/>
	     <field name="edition_id" nullable="true" size="6" type="string"/>
	     <field name="version_id" nullable="true" size="6" type="string"/>
	</record>

</config>
