<leaf name="">
				<class>com.eb.bi.rs.frame.recframe.resultcal.offline.converter.H2VConvertDriver</class>
				<configuration>
					<!--single,multi字段分隔符，默认值是"|"-->
					<single.multi.field.delimiter></single.multi.field.delimiter>
					<!--multi group字段分隔符，默认值是"|"-->
					<multi.group.delimiter></multi.group.delimiter>
					<!--multi field字段分隔符，默认值是"|"，对于multi group只有一个field的情况，该配置项是没有意义的-->
					<multi.field.delimiter></multi.field.delimiter>
					
					
					
					<!--single字段索引，默认值是"0"，可以配置多列，配置方式如"0,1"，列之间用逗号","分隔-->
					<!--另外，该配置项允许负数配置，例如，-1表示倒数第一个，-2表示倒数第二个-->
					<single.field.indexes></single.field.indexes>
					<!--与multi无关字段索引，默认值是"0"，可以配置多列，配置方式如"0,1"，列之间用逗号","分隔-->
					<!--当single.multi.field.delimiter与multi.group.delimiter相等时，必须包含该配置项，来确定multi的位置-->
					<!--当single.multi.field.delimiter与multi.group.delimiter不相等时，不必包含改配置项-->
					<!--另外，该配置项允许负数配置，例如，-1表示倒数第一个，-2表示倒数第二个-->
					<multi.unrelated.field.indexes></multi.unrelated.field.indexes>
					
					<!--multi group索引，默认值是"1"，只能配置一列-->
					<!--当single.multi.field.delimiter与multi.group.delimiter不相等时，包含改配置项，来确定multi的位置-->
					<multi.group.set.index></multi.group.set.index>				
					
					<!--保留的mutifield字段索引（在group的位置），默认值是"0"，可以配置多列，配置方式如"0,1"，列之间用逗号","分隔-->
					<reserved.multi.field.indexes></reserved.multi.field.indexes>
					<!--group包含的字段数目，默认值是1-->
					<multi.group.contains.field.number></multi.group.contains.field.number>
				
					
			 	<!--输出格式-->
			 		<!--single字段是否输出multi字段前面，默认值是true-->
					<single.first></single.first>
					<!--输出结果的字段分隔符，默认值是| -->
					<result.field.delimiter></result.field.delimiter>

					
				<!--输入输出-->
					<!--输入路径，可以配置多条路径，路径之间用逗号，分隔-->
					<input.path></input.path>
					<!--输出路径-->
					<output.path></output.path>
					
				</configuration>
</leaf>