<leaf name="">
				<class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.ItemFilterDriver</class>
				<configuration>
					<!--待过滤集字段分隔符，默认值是"\|"-->
					<to.filter.field.delimiter></to.filter.field.delimiter>
					<!--待过滤集物品字段索引，默认值是"0",目前只能配置一列，后续优化为多列-->
					<to.filter.item.field.index></to.filter.item.field.ndex>	
					<!--过滤集字段分隔符，默认值是"\|"-->
					<filter.field.delimiter></filter.field.delimiter>
					<!--过滤集物品字段索引，默认值是"0",目前只能配置一列，后续优化为多列-->
					<filter.item.field.index></filter.item.field.index>	
					<!--过滤模式，默认值是"exclude"，可选值是include/exclude-->
					<filter.mode></filter.mode>									
				<!--输入输出-->
					<!--待过滤集输入路径，可以配置多条路径，路径之间用逗号"，"分隔-->
					<to.filter.input.path></to.filter.input.path>
					<!--过滤集输入路径，可以配置多条路径，路径之间用逗号"，"分隔-->
					<filter.input.path></filter.input.path>
					<!--输出路径-->
					<output.path></output.path>					
				<!--MR-->
					<!--默认值是1-->
					<mapred.reduce.tasks>10</mapred.reduce.tasks>
					<!--输入格式，默认是TextInputFormat，如果想要配置SequenceFileInputFormat，填写org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat-->
					<mapreduce.inputformat.class></mapreduce.inputformat.class>
					<!--输出格式，默认是TextOutputFormat，如果想要配置SequenceFileOutputFormat，填写org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat-->
					<mapreduce.outputformat.class></mapreduce.outputformat.class>
					<!--输出时是否压缩，可选项是true，false-->
					<mapred.output.compress></mapred.output.compress>
					<!--如果压缩，压缩格式，如果要配置lzo，填写com.hadoop.compression.lzo.LzoCodec-->
					<mapred.output.compression.codec></mapred.output.compression.codec>
					<!--sequenceFile是记录压缩，还是块压缩，可选项是BLOCK,RECORD-->
					<mapred.output.compression.type></mapred.output.compression.type>				
				</configuration>
</leaf>