<config>
	<composite name="guessyoulike">
		<leaf name="guessyoulike-piecefiller">
    		<class>com.eb.bi.rs.mras.bookrec.guessyoulike.filler.PieceFillerDriver</class>
   			<configuration>
        		<hdfs.input.path>/user/recsys/bookrec/geussyoulike_piecefiller/input</hdfs.input.path>
        		<hdfs.output.path>/user/recsys/bookrec/geussyoulike_piecefiller/output</hdfs.output.path>
        		<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
        		<Appconf.piecefiller.recommendnum>50</Appconf.piecefiller.recommendnum>
        		<Appconf.piecefiller.randomnum>500</Appconf.piecefiller.randomnum>
    			<Appconf.random.way>wap,15,10,25;ios,10,5,35;android,20,10,20</Appconf.random.way>
			<Appconf.book.type>2,3,4</Appconf.book.type>
			</configuration>
		</leaf>
	</composite>
</config>
