<config>
	<composite name="guessyoulike">	
		<!--薛艳云,取订购相似度-->
		<leaf name="guessyoulike-selectordersim">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.SelectBookSimilarityDriver</class>
				<configuration>					
					<select.number>100</select.number>
					<similarity.index>1</similarity.index>	
					<input.path>/user/recsys/bookrec/corelation_rec/order/service/order_filtered_indicator_path/</input.path>
					<output.path>/user/recsys/bookrec/geussyoulike/sim_order</output.path>					
					<mapred.reduce.tasks>100</mapred.reduce.tasks>						
				</configuration>
		</leaf>
		<!--薛艳云,取阅读相似度-->
		<leaf name="guessyoulike-selectreadsim">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.SelectBookSimilarityDriver</class>
				<configuration>				
					<select.number>100</select.number>	
					<similarity.index>2</similarity.index>	
					<input.path>/user/recsys/bookrec/corelation_rec/read/service/read_filtered_indicator_path/</input.path>
					<output.path>/user/recsys/bookrec/geussyoulike/sim_read/</output.path>					
					<mapred.reduce.tasks>100</mapred.reduce.tasks>						
				</configuration>
		</leaf>
		<!--廖,相似度融合-->
		<leaf name="guessyoulike-simconcat">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.SimilarityConcatDriver</class>
			<configuration>
				<conf.input.path>/user/recsys/bookrec/geussyoulike/sim_order/,/user/recsys/bookrec/geussyoulike/sim_read/</conf.input.path>
				<conf.output.path>/user/recsys/bookrec/geussyoulike/simoutput</conf.output.path>
				<conf.num.reduce.tasks>100</conf.num.reduce.tasks>
				<conf.similarity.dimension>2</conf.similarity.dimension>
			</configuration>
		</leaf>

		<!--过滤图书黑名单-->
		<leaf name="guessyoulike-GroupItemFilter">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
			<configuration>				
				<to.filter.key.field.index>1</to.filter.key.field.index>	
				<to.filter.item.field.index>1</to.filter.item.field.index>		
				<filter.key.field.index>0</filter.key.field.index>		
				<filter.item.field.index>0</filter.item.field.index>					
				<filter.mode>exclude</filter.mode>			
				<to.filter.input.path>/user/recsys/bookrec/geussyoulike/simoutput</to.filter.input.path>
				<to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat</to.filter.inputformat>	
				<filter.input.path>/user/recsys/bookrec/geussyoulike/input/bookblack</filter.input.path>	
				<filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>	
				<output.path>/user/recsys/bookrec/geussyoulike/simoutput_afterblack</output.path>							
				<mapred.reduce.tasks>100</mapred.reduce.tasks>				
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat</mapreduce.outputformat.class>			
				<mapred.output.compress>false</mapred.output.compress>					
				<mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>	
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>									
			</configuration>
		</leaf>
		
		<!--图书白名单-->
		<leaf name="guessyoulike-GroupItemFilter">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
			<configuration>				
				<to.filter.key.field.index>1</to.filter.key.field.index>	
				<to.filter.item.field.index>1</to.filter.item.field.index>		
				<filter.key.field.index>0</filter.key.field.index>		
				<filter.item.field.index>0</filter.item.field.index>					
				<filter.mode>include</filter.mode>			
				<to.filter.input.path>/user/recsys/bookrec/geussyoulike/simoutput_afterblack</to.filter.input.path>
				<to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat</to.filter.inputformat>	
				<filter.input.path>/user/recsys/bookrec/geussyoulike/input/onlinebook</filter.input.path>	
				<filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>	
				<output.path>/user/recsys/bookrec/geussyoulike/simoutput_onlinebook</output.path>							
				<mapred.reduce.tasks>100</mapred.reduce.tasks>				
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat</mapreduce.outputformat.class>			
				<mapred.output.compress>false</mapred.output.compress>					
				<mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>	
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>									
			</configuration>
		</leaf>
		
		<!--廖:用户源图书融合-->
		<leaf name="guessyoulike-srcconcat">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.SourceConcatDriver</class>
			<configuration>
				<conf.input.path>/user/recsys/bookrec/geussyoulike/input/userread6cm/</conf.input.path>
				<conf.output.path>/user/recsys/bookrec/geussyoulike/useroutput</conf.output.path>
				<conf.num.reduce.tasks>200</conf.num.reduce.tasks>
			</configuration>
		</leaf>
		<!--廖:用户图书打分与源图书匹配-->
		<leaf name="guessyoulike-prefmatch">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.PreferenceMatchDriver</class>
			<configuration>
				<conf.pref.path>/user/recsys/bookrec/geussyoulike/input/userbookmark/</conf.pref.path>
				<conf.src.path>/user/recsys/bookrec/geussyoulike/useroutput</conf.src.path>
				<conf.output.path>/user/recsys/bookrec/geussyoulike/userbookoutput</conf.output.path>
				<conf.num.reduce.tasks>200</conf.num.reduce.tasks>
			</configuration>
		</leaf>
		<!--源图书top20-->
		<leaf name="guessyoulike-OrderedTopNSelector">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.OrderedTopNSelectorDriver</class>
			<configuration>
				<key.field.indexes>0</key.field.indexes>
				<order.by.field.index>2</order.by.field.index>
				<select.number>20</select.number>		
				<input.path>/user/recsys/bookrec/geussyoulike/userbookoutput</input.path>
				<output.path>/user/recsys/bookrec/geussyoulike/usertopbook</output.path>					
				<mapred.reduce.tasks>200</mapred.reduce.tasks>	
				<mapreduce.inputformat.class>org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat</mapreduce.inputformat.class>
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat</mapreduce.outputformat.class>
				<mapred.output.compress>true</mapred.output.compress>
				<mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>		
			</configuration>
		</leaf>
		<!--jion数据准备:相似度格式调整-->
		<leaf name="guessyoulike-FormatConvertSim">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.FormatConvertSimDriver</class>
			<configuration>
				<hdfs.input.path>/user/recsys/bookrec/geussyoulike/simoutput_onlinebook/</hdfs.input.path>
				<hdfs.output.path>/user/recsys/bookrec/geussyoulike/join_sim</hdfs.output.path>
				<hadoop.reduce.num>300</hadoop.reduce.num>
				<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
				<hadoop.io.k_v_separator>|</hadoop.io.k_v_separator>
			</configuration>
		</leaf>
		<!--jion数据准备:用户源图书格式调整-->
		<leaf name="guessyoulike-FormatConvertUserData">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.FormatConvertUserDataDriver</class>
			<configuration>
				<hdfs.input.path>/user/recsys/bookrec/geussyoulike/usertopbook</hdfs.input.path>
				<hdfs.output.path>/user/recsys/bookrec/geussyoulike/join_mark</hdfs.output.path>
				<hadoop.reduce.num>300</hadoop.reduce.num>
				<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
				<hadoop.io.k_v_separator>|</hadoop.io.k_v_separator>
			</configuration>
		</leaf>
		
	</composite>
</config>
