<config>
	<composite name="guessyoulike">
		<!--分群-->
		<leaf name="guessyoulike-ClusteringDriver">
    	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.filler.ClusteringDriver</class>
   		<configuration>
        	<!--用户推荐结果-->
        	<hdfs.input.path.result>/user/recsys/bookrec/geussyoulike/output</hdfs.input.path.result>
        	<!--用户推荐结果输入格式-->
        	<hdfs.input.format.result>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</hdfs.input.format.result>
        	<!--用户群体信息表-->
        	<hdfs.input.path.clustering>/user/recsys/bookrec/geussyoulike/input/usergroup</hdfs.input.path.clustering>
        	<!--分群输出根目录-->
        	<hdfs.output.path>/user/recsys/bookrec/geussyoulike/output_clustering/</hdfs.output.path>
        	<!--reduce个数-->
        	<hadoop.reduce.num>100</hadoop.reduce.num>
       		<!--map大小-->
        	<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
        	<!--待分群数据key的index-->
        	<Appconf.key.index>0</Appconf.key.index>
    	</configuration>
		</leaf>
		
		<!--top35:中度用户(用户分群id：3)-->
		<leaf name="guessyoulike-OrderedTopNSelector">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.OrderedTopNSelectorDriver</class>
			<configuration>
				<key.field.indexes>0</key.field.indexes>
					
				<order.by.field.index>3</order.by.field.index>
				
				<select.number>35</select.number>		

				<input.path>/user/recsys/bookrec/geussyoulike/output_clustering/clustering-3</input.path>
					
				<output.path>/user/recsys/bookrec/geussyoulike/output_miduser</output.path>					
				
				<mapred.reduce.tasks>50</mapred.reduce.tasks>	
					
				<mapreduce.inputformat.class>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</mapreduce.inputformat.class>
				
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>
					
				<mapred.output.compress>false</mapred.output.compress>
					
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>					
			</configuration>
		</leaf>
		
		<!--top15:浅度用户(用户分群id：4)-->
		<leaf name="guessyoulike-OrderedTopNSelector">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.OrderedTopNSelectorDriver</class>
			<configuration>
				<key.field.indexes>0</key.field.indexes>
					
				<order.by.field.index>3</order.by.field.index>
				
				<select.number>15</select.number>		

				<input.path>/user/recsys/bookrec/geussyoulike/output_clustering/clustering-4</input.path>
					
				<output.path>/user/recsys/bookrec/geussyoulike/output_lowuser</output.path>					
				
				<mapred.reduce.tasks>50</mapred.reduce.tasks>	
					
				<mapreduce.inputformat.class>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</mapreduce.inputformat.class>
				
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>
					
				<mapred.output.compress>false</mapred.output.compress>
					
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>					
			</configuration>
		</leaf>
		
		<!--取补白图书属性-->
		<leaf name="guessyoulike-GroupItemFilter">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
			<configuration>				
				<to.filter.key.field.index>0</to.filter.key.field.index>	
				<to.filter.item.field.index>0</to.filter.item.field.index>		
				<filter.key.field.index>0</filter.key.field.index>		
				<filter.item.field.index>0</filter.item.field.index>					
				<filter.mode>include</filter.mode>			
				<to.filter.input.path>/user/recsys/bookrec/geussyoulike/input/bookproperty</to.filter.input.path>
				<to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</to.filter.inputformat>	
				<filter.input.path>/user/recsys/bookrec/geussyoulike/input/bookdb</filter.input.path>	
				<filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>	
				<output.path>/user/recsys/bookrec/geussyoulike/whitelist</output.path>							
				<mapred.reduce.tasks>1</mapred.reduce.tasks>				
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>			
				<mapred.output.compress>false</mapred.output.compress>					
				<mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>	
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>									
			</configuration>
		</leaf>
	</composite>
</config>