<config>
	<composite name="guessyoulike">
		<leaf name="guessyoulike-GroupItemFilter">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
			<configuration>				
				<to.filter.key.field.index>0</to.filter.key.field.index>	
				<to.filter.item.field.index>0</to.filter.item.field.index>		
				<filter.key.field.index>0</filter.key.field.index>		
				<filter.item.field.index>0</filter.item.field.index>					
				<filter.mode>include</filter.mode>			
				<to.filter.input.path>/user/recsys/bookrec/geussyoulike/input/userproperty</to.filter.input.path>
				<to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</to.filter.inputformat>	
				<filter.input.path>/user/recsys/bookrec/geussyoulike/output_clustering/clustering-2</filter.input.path>	
				<filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>	
				<output.path>/user/recsys/bookrec/geussyoulike/useful_user/deep_user</output.path>	
				<mapred.reduce.tasks>100</mapred.reduce.tasks>				
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>			
				<mapred.output.compress>false</mapred.output.compress>					
				<mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>	
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>									
			</configuration>
		</leaf>

<leaf name="guessyoulike-GroupItemFilter">
                        <class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
                        <configuration>
                                <to.filter.key.field.index>0</to.filter.key.field.index>
                                <to.filter.item.field.index>0</to.filter.item.field.index>
                                <filter.key.field.index>0</filter.key.field.index>
                                <filter.item.field.index>0</filter.item.field.index>
                                <filter.mode>include</filter.mode>
                                <to.filter.input.path>/user/recsys/bookrec/geussyoulike/input/userproperty</to.filter.input.path>
                                <to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</to.filter.inputformat>
                                <filter.input.path>/user/recsys/bookrec/geussyoulike/output_clustering/clustering-3</filter.input.path>
                                <filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>
                                <output.path>/user/recsys/bookrec/geussyoulike/useful_user/mid_user</output.path>
                                <mapred.reduce.tasks>100</mapred.reduce.tasks>
                                <mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>        

                                <mapred.output.compress>false</mapred.output.compress>
                                <mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>
                                <mapred.output.compression.type>BLOCK</mapred.output.compression.type>                                                      

                        </configuration>
                </leaf>

<leaf name="guessyoulike-GroupItemFilter">
                        <class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
                        <configuration>
                                <to.filter.key.field.index>0</to.filter.key.field.index>
                                <to.filter.item.field.index>0</to.filter.item.field.index>
                                <filter.key.field.index>0</filter.key.field.index>
                                <filter.item.field.index>0</filter.item.field.index>
                                <filter.mode>include</filter.mode>
                                <to.filter.input.path>/user/recsys/bookrec/geussyoulike/input/userproperty</to.filter.input.path>
                                <to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</to.filter.inputformat>
                                <filter.input.path>/user/recsys/bookrec/geussyoulike/output_clustering/clustering-4</filter.input.path>
                                <filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>
                                <output.path>/user/recsys/bookrec/geussyoulike/useful_user/low_user</output.path>
                                <mapred.reduce.tasks>100</mapred.reduce.tasks>
                                <mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>        

                                <mapred.output.compress>false</mapred.output.compress>
                                <mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>
                                <mapred.output.compression.type>BLOCK</mapred.output.compression.type>                                                      

                        </configuration>
                </leaf>
	</composite>
</config>
