<config>
	<composite name="guessyoulike">	
		<!--jion-->
		<leaf name="guessyoulike-CalculationOfRelationJoin">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.CalculationOfRelationJoinDriver</class>
			<configuration>
				<!--map:用户源图书:k:图书,v:(用户,打分)-->
				<hdfs.input.path>/user/recsys/bookrec/geussyoulike/join_mark/</hdfs.input.path>
				<!--输出-->
				<hdfs.output.path>/user/recsys/bookrec/geussyoulike/join_output</hdfs.output.path>
				<!--map:图书相似度:k:图书,v:(图书,相似度)-->
				<hdfs.cache.path>/user/recsys/bookrec/geussyoulike/join_sim/</hdfs.cache.path>
				
				<hadoop.reduce.num>300</hadoop.reduce.num>
				<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
				<hadoop.io.k_v_separator>|</hadoop.io.k_v_separator>
			</configuration>
		</leaf>
		
		<leaf name="guessyoulike-SelectMergeBookSource">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.SelectMergeBookSourceDriver</class>
			<configuration>
				<select.sources>1</select.sources>
				<source.weight>1:1.0</source.weight>		
				<select.similarity.indexes>0,1</select.similarity.indexes>	
				<similarity.preference.vector.orginal.size>2</similarity.preference.vector.orginal.size>
				<input.path>/user/recsys/bookrec/geussyoulike/join_output</input.path>
				<output.path>/user/recsys/bookrec/geussyoulike/after_select</output.path>					
				<mapred.reduce.tasks>300</mapred.reduce.tasks>					
			</configuration>
		</leaf>
		<!--阅读历史过滤-->
		<leaf name="guessyoulike-GroupItemFilter">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.filter.mr.GroupItemFilterDriver</class>
			<configuration>
				<to.filter.key.field.index>0</to.filter.key.field.index>	
				<to.filter.item.field.index>1</to.filter.item.field.index>	
				<filter.key.field.index>0</filter.key.field.index>	
				<filter.item.field.index>1</filter.item.field.index>	
				<filter.mode>exclude</filter.mode>	
				<to.filter.input.path>/user/recsys/bookrec/geussyoulike/after_select</to.filter.input.path>
				<to.filter.inputformat>org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat</to.filter.inputformat>
				<filter.input.path>/user/recsys/bookrec/geussyoulike/input/userread_his</filter.input.path>
				<filter.inputformat>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</filter.inputformat>
				<output.path>/user/recsys/bookrec/geussyoulike/after_filter</output.path>					
				<mapred.reduce.tasks>300</mapred.reduce.tasks>
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.SequenceFileOutputFormat</mapreduce.outputformat.class>
				<mapred.output.compress>true</mapred.output.compress>
				<mapred.output.compression.codec>com.hadoop.compression.lzo.LzoCodec</mapred.output.compression.codec>
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>
			</configuration>
		</leaf>
		
		
		<leaf name="guessyoulike-UserRecBookPrefViaProperty">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.UserRecBookPrefViaPropertyDriver</class>
			<configuration>
				<select.property.indexes>1,2</select.property.indexes>	
				<class.pref.index>3</class.pref.index>
				<book.property.input.path>/user/recsys/bookrec/geussyoulike/input/bookproperty</book.property.input.path>				
				<rec.rcd.input.path>/user/recsys/bookrec/geussyoulike/after_filter</rec.rcd.input.path>
				<user.property.pref.input.path>/user/recsys/bookrec/geussyoulike/input/userproperty</user.property.pref.input.path>
				<output.path>/user/recsys/bookrec/geussyoulike/after_property</output.path>					
				<mapred.reduce.tasks>300</mapred.reduce.tasks>					
			</configuration>
		</leaf>
			
		
		<leaf name="guessyoulike-UserMaxPrefs">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.UserMaxPrefsDriver</class>
			<configuration>
				<select.similarity.count>2</select.similarity.count>
				<select.property.count>3</select.property.count>		
				<input.path>/user/recsys/bookrec/geussyoulike/after_property</input.path>
				<output.path>/user/recsys/bookrec/geussyoulike/MaxValueDriver</output.path>					
				<mapred.reduce.tasks>300</mapred.reduce.tasks>					
			</configuration>
		</leaf> 
		
		<leaf name="guessyoulike-Join4UserBookPrefFinalScore">
			<class>com.eb.bi.rs.mras.bookrec.guessyoulike.Join4UserBookPrefFinalScoreDriver</class>
			<configuration>
				<select.similarity.count>2</select.similarity.count>
				<select.property.count>3</select.property.count>	
				<weights>6,4,2,3,5</weights>	
				<rec.rcd.input.path>/user/recsys/bookrec/geussyoulike/after_property</rec.rcd.input.path>
				<max.value.input.path>/user/recsys/bookrec/geussyoulike/MaxValueDriver</max.value.input.path>
				<output.path>/user/recsys/bookrec/geussyoulike/user_book_pref</output.path>					
				<mapred.reduce.tasks>300</mapred.reduce.tasks>					
			</configuration>
		</leaf>
		<!--top50-->
		<leaf name="guessyoulike-OrderedTopNSelector">
			<class>com.eb.bi.rs.frame.recframe.resultcal.offline.selector.mr.OrderedTopNSelectorDriver</class>
			<configuration>
				<key.field.indexes>0</key.field.indexes>
				<order.by.field.index>3</order.by.field.index>
				<select.number>50</select.number>		
				<input.path>/user/recsys/bookrec/geussyoulike/user_book_pref</input.path>
				<output.path>/user/recsys/bookrec/geussyoulike/output</output.path>					
				<mapred.reduce.tasks>300</mapred.reduce.tasks>	
				<mapreduce.inputformat.class>org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat</mapreduce.inputformat.class>
				<mapreduce.outputformat.class>org.apache.hadoop.mapreduce.lib.output.TextOutputFormat</mapreduce.outputformat.class>
				<mapred.output.compress>false</mapred.output.compress>
				<mapred.output.compression.type>BLOCK</mapred.output.compression.type>					
			</configuration>
		</leaf>
		
	</composite>
</config>
