<config>
	<composite name="guessyoulike">
		<!--深度补白-->
		<leaf name="guessyoulike-NewComputeFillerDriver">
    	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.filler.NewComputeFillerDriver</class>
   		<configuration>
        	<!--用户推荐结果-->
        	<hdfs.input.path.result>/user/recsys/bookrec/geussyoulike/output_clustering/clustering-2</hdfs.input.path.result>
        	<!--用户推荐结果输入格式-->
        	<hdfs.input.path.result.format>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</hdfs.input.path.result.format>
			<!--用户阅读历史-->
        	<hdfs.input.path.black>/user/recsys/bookrec/geussyoulike/input/userread_his</hdfs.input.path.black>
			<!--用户属性偏好-->
        	<hdfs.input.path.userpref>/user/recsys/bookrec/geussyoulike/useful_user/deep_user</hdfs.input.path.userpref>
        	<!--补白图书属性信息-->
        	<hdfs.cache.path.bookdb>/user/recsys/bookrec/geussyoulike/whitelist/part-r-00000</hdfs.cache.path.bookdb>
        	<!--输出-->
        	<hdfs.output.path>/user/recsys/bookrec/geussyoulike/output_newfiller_deepuser/</hdfs.output.path>
        	<!--属性信息索引-->
        	<select.property.indexes>1,2</select.property.indexes>	
			<!--分类偏好索引-->
			<class.pref.index>3</class.pref.index>
        	<!--输出排序方法（顺序输出）-->
        	<Appconf.filler.sortway>1</Appconf.filler.sortway>
        	<!--reduce个数-->
        	<hadoop.reduce.num>50</hadoop.reduce.num>
       		<!--map大小-->
        	<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
			<!--补白下限（不够不推荐）-->
        	<Appconf.filler.minnum>20</Appconf.filler.minnum>
			<!--补白上限--> 	
        	<Appconf.filler.maxnum>50</Appconf.filler.maxnum>
    	</configuration>
		</leaf>
		
		<!--中度补白-->
		<leaf name="guessyoulike-NewComputeFillerDriver">
    	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.filler.NewComputeFillerDriver</class>
   		<configuration>
        	<!--用户推荐结果-->
        	<hdfs.input.path.result>/user/recsys/bookrec/geussyoulike/output_miduser</hdfs.input.path.result>
        	<!--用户推荐结果输入格式-->
        	<hdfs.input.path.result.format>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</hdfs.input.path.result.format>
			<!--用户阅读历史-->
        	<hdfs.input.path.black>/user/recsys/bookrec/geussyoulike/input/userread_his</hdfs.input.path.black>
			<!--用户属性偏好-->
        	<hdfs.input.path.userpref>/user/recsys/bookrec/geussyoulike/useful_user/mid_user</hdfs.input.path.userpref>
        	<!--补白图书属性信息-->
        	<hdfs.cache.path.bookdb>/user/recsys/bookrec/geussyoulike/whitelist/part-r-00000</hdfs.cache.path.bookdb>
        	<!--输出-->
        	<hdfs.output.path>/user/recsys/bookrec/geussyoulike/output_newfiller_miduser/</hdfs.output.path>
        	<!--属性信息索引-->
        	<select.property.indexes>1,2</select.property.indexes>	
			<!--分类偏好索引-->
			<class.pref.index>3</class.pref.index>
        	<!--输出排序方法（随机排序）-->
        	<Appconf.filler.sortway>2</Appconf.filler.sortway>
        	<!--reduce个数-->
        	<hadoop.reduce.num>50</hadoop.reduce.num>
       		<!--map大小-->
        	<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
			<!--补白下限（随机排序）-->
        	<Appconf.filler.minnum>20</Appconf.filler.minnum>
			<!--补白上限--> 	
        	<Appconf.filler.maxnum>50</Appconf.filler.maxnum>
    	</configuration>
		</leaf>
		
		<!--浅度补白-->
		<leaf name="guessyoulike-NewComputeFillerDriver">
    	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.filler.NewComputeFillerDriver</class>
   		<configuration>
        	<!--用户推荐结果-->
        	<hdfs.input.path.result>/user/recsys/bookrec/geussyoulike/output_lowuser</hdfs.input.path.result>
        	<!--用户推荐结果输入格式-->
        	<hdfs.input.path.result.format>org.apache.hadoop.mapreduce.lib.input.TextInputFormat</hdfs.input.path.result.format>
			<!--用户阅读历史-->
        	<hdfs.input.path.black>/user/recsys/bookrec/geussyoulike/input/userread_his</hdfs.input.path.black>
			<!--用户属性偏好-->
        	<hdfs.input.path.userpref>/user/recsys/bookrec/geussyoulike/useful_user/low_user</hdfs.input.path.userpref>
        	<!--补白图书属性信息-->
        	<hdfs.cache.path.bookdb>/user/recsys/bookrec/geussyoulike/whitelist/part-r-00000</hdfs.cache.path.bookdb>
        	<!--输出-->
        	<hdfs.output.path>/user/recsys/bookrec/geussyoulike/output_newfiller_lowuser/</hdfs.output.path>
        	<!--属性信息索引-->
        	<select.property.indexes>1,2</select.property.indexes>	
			<!--分类偏好索引-->
			<class.pref.index>3</class.pref.index>
        	<!--输出排序方法（随机排序）-->
        	<Appconf.filler.sortway>2</Appconf.filler.sortway>
        	<!--reduce个数-->
        	<hadoop.reduce.num>50</hadoop.reduce.num>
       		<!--map大小-->
        	<hadoop.map.maxsplitsizejob>64</hadoop.map.maxsplitsizejob>
			<!--补白下限（随机排序）-->
        	<Appconf.filler.minnum>20</Appconf.filler.minnum>
			<!--补白上限--> 	
        	<Appconf.filler.maxnum>50</Appconf.filler.maxnum>
    	</configuration>
		</leaf>
	</composite>
</config>
