<leaf name="">
	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.Join4UserBookPrefFinalScoreDriver</class>
	<configuration>
		<!--选择的相似度的个数，不配置默认为1-->
		<select.similarity.count></select.similarity.count>
		<!--选择的属性的个数，不配置默认为1-->
		<select.property.count></select.property.count>	
		<!--用户对图书偏好向量的权重，形如0.25,0.5,0.25-->
		<weights></weights>		
	<!--输入输出-->
		<!--用户待推荐图书记录输入路径，作为job的输入，不可以配置多条路径-->
		<rec.rcd.input.path></rec.rcd.input.path>
		<!--用户偏好最大值输入路径，作为job的输入，不可以配置多条路径-->
		<max.value.input.path></max.value.input.path>
		<!--输出路径-->		
		<output.path></output.path>					
	<!--MR-->
		<!--默认值是1-->
		<mapred.reduce.tasks>10</mapred.reduce.tasks>					
	</configuration>
</leaf> 