<leaf name="">
	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.UserRecBookPrefViaPropertyDriver</class>
	<configuration>
		<!--选取的（可以直接相乘的）属性在用户属性偏好表的索引，可以配置多个索引，索引之间用逗号分隔，不配置默认为全部的（可以直接相乘的）属性-->
		<select.property.indexes></select.property.indexes>
		<!--分类偏好在用户属性偏好表的索引，注意，目前在最终的结果中，分类偏好在结果偏好向量中排在最后-->
		<class.pref.index>4</class.pref.index>
	<!--输入输出-->
		<!--图书的自身属性数据输入路径，作为job的缓存，不可以配置多条路径-->
		<book.property.input.path></book.property.input.path>				
		<!--用户待推荐图书记录输入路径，作为job的输入，不可以配置多条路径-->
		<rec.rcd.input.path></rec.rcd.input.path>
		<!--用户属性偏好数据输入路径，作为job的输入，不可以配置多条路径-->
		<user.property.pref.input.path></user.property.pref.input.path>
		<!--输出路径-->
		<output.path></output.path>					
	<!--MR-->
		<!--默认值是1-->
		<mapred.reduce.tasks>10</mapred.reduce.tasks>					
	</configuration>
</leaf>