<leaf name="">
	<class>com.eb.bi.rs.mras.bookrec.guessyoulike.UserMaxPrefsDriver</class>
	<configuration>
		<!--选择的相似度的个数，不配置默认为1-->
		<select.similarity.count></select.similarity.count>
		<!--选择的属性的个数，不配置默认为1-->
		<select.property.count></select.property.count>		
	<!--输入输出-->
		<!--输入路径，可以配置多条路径，路径之间用逗号，分隔-->
		<input.path></input.path>
		<!--输出路径-->
		<output.path></output.path>					
	<!--MR-->
		<!--默认值是1-->
		<mapred.reduce.tasks>10</mapred.reduce.tasks>					
	</configuration>
</leaf> 