<config>
    <!--storm kafka-->
    <param name="worker_num">2</param>
    <param name="spout_num">2</param>
    <param name="split_bolt_num">3</param>
    <param name="city_bolt_num">5</param>
    <param name="summary_bolt_num">1</param>
    <param name="fail_reason_bolt_num">1</param>
    <param name="acker_num">1</param>
    <param name="max_spout_pending">10000</param>
    
    <param name="zkCfg">FJXM-DM-LENOVO-ZTEZK-01:2181,FJXM-DM-LENOVO-ZTEZK-02:2181,FJXM-DM-LENOVO-ZTEZK-03:2181</param>
    <param name="broker_list">FJXM-DM-LENOVO-ZTECN-01:9092,FJXM-DM-LENOVO-ZTECN-02:9092,FJXM-DM-LENOVO-ZTECN-03:9092,FJXM-DM-LENOVO-ZTECN-04:9092</param>
    
    <param name="zkRoot">/ebupt-largeScreen</param>
    <param name="largeScreen_topic">mgchgf</param>
    <param name="interval_time">300000</param>
    <param name="load_interval">86400000</param>
    <param name="fail_type">9</param>
    <param name="city_table_name">dim_anime.dim_city_segment_corres</param>

    <!--SummaryBolt-->
    <param name="success_table_name">PRT_ANIME.STORM_BIGSHOW_TRANS_CNT_SUC</param>
    <param name="fail_table_name">PRT_ANIME.STORM_BIGSHOW_TRANS_CNT_FALSE</param>
    
    <!--FailReasonBolt-->
    <param name="non_fail_code">00000,4000,9000</param>
    <param name="error_code_table_name">PRT_ANIME.STORM_BIGSHOW_TRANS_CNT_REASON</param>
    <param name="error_table_name">DIM_ANIME.DIM_BIG_SHOW_FALSE_REASON</param>
    
    <!--CityBolt-->
    <param name="city_success_table_name">PRT_ANIME.STORM_BIGSHOW_CHGF_SUCCESS</param>
    <param name="city_fail_table_name">PRT_ANIME.STORM_BIGSHOW_CHGF_FALSE</param>
      
</config>
