<config>
		<!--需要下载的HDFS文件路径，支持通配符，支持配置多个路径，以逗号','分隔-->
		<param name="hdfs_path">/user/xx/data_00?/*,/user/xx/data_11*/*</param>
		<!--HDFS名字，可选配置，若不配置，则使用hadoop core-site.xml中的fs.default.name-->
		<param name="hdfs_name">hdfs://10.1.69.179:9000</param>
		<!--下载到HDFS的路径, 若不合并下载，是一个目录；若合并，则为文件名；支持配置多个路径，以逗号','分隔，必须与hdfs_path的路径一一对应-->
		<param name="local_path">/home/user/recsys/dir1,/home/user/recsys/dir2</param>
		<!--是否合并下载，true为合并，false为不合并-->
		<param name="is_merge">false</param>
</config>