<config>
	<composite name="addonlineday">
		<leaf name="result2hbase">
			<!--任务类，该类用于为新书齐亮相栏目的推荐图书加上上架时间-->
			<class>com.eb.bi.rs.result2hbase.OnlineDayTool</class>
			<configuration>
                <!--图书信息路径，上架时间格式为：yyyymmddHHMMSS-->
				<conf.book.info.path>personalrec/input/bookinfo</conf.book.info.path>
				<!--新书齐亮相的推荐结果路径-->
                <conf.input.path>personalrec/hbase/new_result</conf.input.path>
				<!--是否对新书推荐结果中用户ID进行更改（增加事业群类型）-->
				<conf.input.replacekey>false</conf.input.replacekey>
				<!--对新书推荐结果中用户ID更改方式（添加事业群编号）-->
				<conf.input.replacekey.flag>_1</conf.input.replacekey.flag>
				<!--添加上架时间后的推荐结果输出路径-->
                <conf.output.path>personalrec/hbase/new</conf.output.path>
				<!--上架时间字段在图书信息记录中索引位置，从0算起-->
                <conf.online.day.index>2</conf.online.day.index>
			</configuration>
		</leaf>
	</composite>
</config>
